* {
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}
h2, h1{
    width: 100%;
    text-align: center;
    color: #ffffff;
}
#header{
    background-color: indigo;
    padding-top: 2px;
    padding-bottom: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-size: cover;
    position: sticky;
    top: 0;
    margin: 0;
    border: 0;
}
#inner{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: indigo;
    padding-top: 3px;
    background-size: cover;
    margin-top: 0; 
    border-top: none;
}
#header * , #inner * {
    margin: 0;
}
#form{
    border-radius: 15px;
    background-color: lightgray;
    width: 48%;
    text-align: left;
    font-size: smaller;
    padding: 10px;
    float: left;
    height: auto;
    margin-right: 2%;    
}
form#comment{
    height: 100px;
}
span.emoji{
    font-size: 18px;
}
textarea{
    width: 100%;
    height: 100px;
    max-width: 100%;
    min-height: 100px;
    min-width: 100%;
    max-height: 500px;
}
div.footer {
    position: center;
    background-color: rgb(75, 0, 130);
    border-radius: 15px;
    text-align: center;
    color: #ffffff; 
}
#viewComment{
    border-radius: 15px;
    background-color: #ffff;
    padding: 10px;
    width: 48%;
    float: left;
    height: 50px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px){
    #form, #viewComment {
        width: 100%;
    }
    #form{
        margin-bottom: 2%;
    }
}* {
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}
h2{
    width: 100%;
    text-align: center;
    color: #ffffff;
}
#form{
    border-radius: 15px;
    background-color: lightgray;
    width: 48%;
    text-align: left;
    font-size: smaller;
    padding: 10px;
    float: left;
    height: 400px;
    margin-right: 2%;    
}
form#comment{
    height: 100px;
}
span.emoji{
    font-size: 18px;
}
textarea{
    width: 100%;
    height: 255px;
    max-width: 100%;
    min-height: 100px;
    min-width: 100%;
}
.footer{
    background-color: rgb(71, 0, 130);
    border-radius: 15px;
    text-align: center;
    color: #ffffff; 
}
.error{
    color: #ff0000;
    font-size: small;
}
#viewComment{
    border-radius: 15px;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    width: 48%;
    float: left;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#ViewHeader{
    position: sticky;
    top: 0; 
    border-radius: 15px;
    background-color:rgb(75, 0, 130);
    color: #ffffff;
    padding: 0.015px;
    text-align: center;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px){
    #form, #viewComment {
        width: 100%;
    }
    #form{
        margin-bottom: 2%;
        height: 250px;
    }
    #viewComment {
        height: 500px;
    }
    #footer{
        position: absolute;
    }
    textarea{
        height: 100px;
    }
}
::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(70, 0, 130);
    border-radius: 20px;
}
#button{
    background-color: rgb(70, 0, 130);
    border-radius: 2px;
    color: #ffffff;
}
#credits{
    font-size: small;
    padding-bottom: 10px;
}
a{
    text-decoration-line: solid 10px;
    text-decoration-thickness: 1px;
    font-weight: 800;
    color: #ffffff;
}
#comment_count{
    position: sticky;
    bottom: 0;
    text-align: right;
}
span {
    font-size: 11px;
    line-height: 0.2;
}
#line{
    font-family: sans-serif;
    padding: 0;
}
.aboutpara{
    padding-top: 0;
    margin: 5px;
}
h3#OurNdola{
    padding-top: 10px;
    padding-bottom: -10px;
    margin: 5px;
}